/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/



/* ---------------------------------------------------------------------------- INDEX.HTML CONNECTE ------------------------------------------------------------------ */

body {
	padding: 0 165px;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 35px 0 50px 0;
}

.padding-header-mode-edition {
	padding: 80px 0 50px 0;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 1.6px;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 19.2px;
}

li:hover,
a:hover {
	color: #B1663C;
	font-weight: bold;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 16px;
}

#introduction p {
	margin-bottom: 8px;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 32px 0 16px 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 32px auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 32px;
}

#portfolio .title {
	margin-bottom: 0;
}

.filters {
	margin: 50px 0;
	display: flex;
	justify-content: center;
	gap: 20px;

}

button {
	background-color: transparent;
	padding: 7px 15px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
}

.filters .activated {
	background-color: #1D6154;
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

.work-item {
	padding: 11px 0;
}

.work-item p {
	padding-top: 7px;
}

#gallery-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.margin-bottom-gallery-title {
	margin-bottom: 90px;
}

.display-none {
	display: none !important;
}

footer {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	width: 1468px;
	height: 60px;
	line-height: 0px;
	background-color: white;
	color: black;
}

/* ---------------------------------------------------------------------------- PAGE LOGIN --------------------------------------------------------------------------- */

#section-login {
	width: 50%;
	margin: auto;
}

#section-login>* {
	text-align: center;

}

#section-login h2 {
	margin: 40px 0 20px 0;
}

#section-login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	padding-bottom: 90px;
}

#section-login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 15px;
	font-family: "work sans";
}

#section-login label {
	margin: 32px 0 16px 0;
}

#section-login span {
	text-align: center;
	color: #3D3D3D;
	text-decoration: underline;
}

#form-login p {
	padding: 25px 0 0 0;
	color: #cc0000;
	text-align: center;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 60px;
	line-height: 0px;
	background-color: white;
	color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- INDEX.HTML UNE FOIS CONNECTE --------------------------------------------------------- */

.mode-edition {
	position: fixed;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	background-color: black;
	color: white;
	width: 100%;
}

.fa-pen-to-square {
	font-size: 12px;
	padding-right: 5px;
}

.link-modal {
	display: flex;
	align-items: center;
	border: none;
	position: absolute;
	margin-left: 300px;

	& :hover {
		color: black;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- AFFICHAGE INTERIEUR MODAL GENERAL -------------------------6-------------------------- */

.modal {
	position: fixed;
	z-index: 3;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.3);
}

.modal-work-delete,
.modal-work-add {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	background-color: #FFF;
	border-radius: 10px;
	width: 45%;
	height: 80%;
	padding: 10px;
}

.modal-close {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
	width: min-content;
	border: none;
	color: black;
	font-size: 20px;
}

.modal-back {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	width: min-content;
	border: none;
	color: black;
	font-size: 20px;
}

.modal-work-delete>h3,
.modal-work-add>h3 {
	display: flex;
	justify-content: center;
	padding: 50px 0 20px 0;
	font-size: 20px;
}

hr {
	position: absolute;
	bottom: 90px;
	left: 0;
	right: 0;
	width: 420px;
}

.btn-modal-add,
.btn-form-validated {
	position: absolute;
	bottom: 33px;
	border: 2px solid #1D6154;
	width: 250px;
	background-color: #1D6154;
	color: white;
	border-radius: 60px;
}

.btn-grey {
	color: white;
	border: 2px solid #A7A7A7;
	background-color: #A7A7A7;
}

.btn-green {
	color: white;
	border: 2px solid #1D6154;
	background-color: #1D6154;
}

.hidden {
	display: none;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- INTERIEUR MODAL 1 -------------------------------------------------------------------- */

.modal-work-delete .gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: fit-content;
}

.gallery-content {
	display: grid;
	grid-template-areas: "a a a a a";
	grid-gap: 20px 10px;
	width: 420px;
}

.gallery-content .work-item {
	padding: 0;
	height: 105px;
}

.work-item img {
	width: 100%;
	height: 100%;
}

.delete-work {
	position: relative;
	bottom: 105px;
	left: 60px;
	padding: 3px;
	border: none;
	border-radius: 0;
	background-color: black;
	color: white;
	font-size: xx-small;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- INTERIEUR MODAL 2 -------------------------------------------------------------------- */

.form-add {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.form-work-add {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 420px;
	height: 150px;
	border-radius: 3px;
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: #E8F1F6;
}

.form-work-add input {
	height: 21px !important;
	width: 115px;
	box-shadow: none !important;
	position: absolute;
	top: 199px;
	left: 268px;
	opacity: 0;
}

.form-work-add .btn-work-add {
	background-color: #B9C5CC;
	color: #306685;
	border: none;
	width: 150px;
}

.form-work-add p {
	font-size: 10px;
}

.fa-image {
	font-size: 60px;
	color: #B9C5CC;
}

#imagePreview {
	width: 22%;
	height: 170px;
	position: absolute;
	top: 100px;
}

.form-add label {
	padding: 20px 0 15px 0;
}

.form-add input {
	height: 45px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
	padding-left: 15px;
	font-family: "work sans";
}

.select-category {
	border: transparent;
	outline: none;
	background-color: transparent;
	padding: 0 15px;
	height: 45px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: "work sans";
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */